@use '../../styles/ne-global-imports' as *;

.caption {
	width: 100%;
	max-width: measure($theme-text-measure);
	margin: units(3) auto units($component-spacing-lg);
	font-size: size('body', 'md');

	&:empty { display: none; }

	&__btn-wrap {
		margin: units(3) 0;
		text-align: center;
		overflow: visible; // don't cut off the focus ring
	}

	&__icon {
		&--collapse {
			display: none; // default collapsed
		}
	}

	&__btn {
		&[aria-expanded='true'] {
			.caption__icon {
				&--collapse {
					display: inline;
				}

				&--expand {
					display: none;
				}
			}
		}
	}

	&__content {
		@include u-radius('md');
		width: 100%;
		max-height: 0; // closed by default
		transition: max-height $transition-slow;
		background: color(primary-lighter);
		overflow: hidden; // to help with the transition

		&--closing,
		&[hidden] {
			max-height: 0 !important; // stylelint-disable-line declaration-no-important
		}

		> div {
			padding: units(3);
		}
	}
}