@use '../../styles/ne-global-imports' as *;
@use 'sass:math';

.section-background {
	$block: 'section-background';
	
	&--full {
		// tuck underneath the hero hill
		
		position: relative;
		padding-top: units($component-spacing-lg);
		padding-bottom: units($component-spacing-lg);
		z-index: 1; // base
		
		&:first-child {
			$hill-overlap: math.div((100vw * $internal-hero-aspect-ratio-h), $internal-hero-aspect-ratio-w);
			margin-top: -1 * $hill-overlap;
			padding-top: calc(#{units($component-spacing-lg)} + #{$hill-overlap});
			z-index: 1;

			.homepage & {
				$hill-overlap: math.div((100vw * $homepage-hero-aspect-ratio-h), $homepage-hero-aspect-ratio-w);
				margin-top: -1 * $hill-overlap;
				padding-top: calc(#{units($component-spacing-lg)} + #{$hill-overlap});
			}
		}

		// --light is default

		// extending the background out into the gutter
		&.#{$block}--dark:before, // color extension
		&.#{$block}--theme:before, // color extension
		.#{$block}__image, // image container
		.#{$block}__image-inner, // image
		.#{$block}__image:after { // image overlay
			position: absolute;
			display: block;
			content: '';
		}

		&.#{$block}--dark:before, // color extension
		&.#{$block}--theme:before, // color extension
		.#{$block}__image { // image container
			width: 100dvw;
			inset: 0 auto 0 50%;
			transform: translateX(-50%);
			pointer-events: none;
		}

		&.#{$block}--dark,
		&.#{$block}--theme {
			&:before {
				z-index: -2; // behind the image
			}
		}

		&.#{$block}--dark,
		&.#{$block}--theme:not(.#{$block}--light) {
			&,
			a:not(.usa-button) {
				@include u-text('white');
			}

			a:not(.usa-button) {
				&:hover,
				&:active {
					@include u-text('primary-lighter')
				}
			}
		}

		&.#{$block}--dark {
			&,
			&:before {
				background: color('primary-darkest');
			}
		}

		&.#{$block}--theme {
			&,
			&:before {
				background: var(--theme-section-bg);
			}

			&.#{$block}--light {
				&,
				&:before {
					background: var(--theme-section-bg-light);
				}
			}
		}

		.#{$block}__image {
			display: none;
		}

		& + & {
			margin-top: 0;
		}

		@include at-media('tablet') {
			$overlay-fade: .75;

			.#{$block}__image {
				display: block;
				overflow: hidden; // clip off the blurred edges of the image
				z-index: -1;

				&-inner,
				&:after {
					inset: 0;
				}

				&-inner {
					$blur: 8px;
					inset: -2 * $blur; // hang off the edges a bit to not pull in color from the background on the edges
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					filter: blur($blur) grayscale(100%);
					z-index: -2;
				}

				&:after { // overlay
					background: linear-gradient(to right, color('primary-lightest'), rgba(color('primary-lightest'), $overlay-fade));
					z-index: -1;
				}
			}

			&.#{$block}--dark {
				.#{$block}__image {
					&:after {
						background: linear-gradient(to right, color('primary-darker'), rgba(color('primary-darker'), $overlay-fade));
					}
				}
			}

			&.#{$block}--theme {
				.#{$block}__image {
					&:after {
						background: linear-gradient(to right, var(--theme-section-bg), rgb(from var(--theme-hero-bg) r g b / $overlay-fade));
					}
				}

				&.#{$block}--light {
					.#{$block}__image {
						&:after {
							background: linear-gradient(to right, var(--theme-section-bg-light), rgb(from var(--theme-section-bg-light) r g b / $overlay-fade));
						}
					}
				}
			}
		}

		@include at-media('desktop') {
			$overlay-fade: .5;

			.#{$block}__image {
				&:after {
					background: linear-gradient(to right, color('primary-lightest'), rgba(color('primary-lightest'), $overlay-fade));
				}
			}

			&.#{$block}--dark {
				.#{$block}__image {
					&:after {
						background: linear-gradient(to right, color('primary-darker'), rgba(color('primary-darker'), $overlay-fade));
					}
				}
			}

			&.#{$block}--theme {
				.#{$block}__image {
					&:after {
						background: linear-gradient(to right, var(--theme-section-bg), rgb(from var(--theme-hero-bg) r g b / $overlay-fade));
					}
				}

				&.#{$block}--light {
					.#{$block}__image {
						&:after {
							background: linear-gradient(to right, var(--theme-section-bg-light), rgb(from var(--theme-section-bg-light) r g b / $overlay-fade));
						}
					}
				}
			}
		}
	}
}
