@use '../../styles/ne-global-imports' as *;

:root {
	--theme-hero-bg: #{color('primary')};
	--theme-hero-primary: #{color('primary')};
	--theme-hero-secondary: #{color('secondary')};
	--theme-footer: #{color('secondary')};
	--theme-icons: #{color('accent-warm-dark')};
	--theme-section-bg: #{color('primary-darker')};
	--theme-section-bg-light: #{color('primary-lightest')};
	--theme-icon-btn-grid: #{color('primary-vivid')};
	--theme-icon-btn-grid-text: #{color('white')};
	--theme-icon-btn-grid-hover: #{color('primary-lightest')};
	--theme-card-accent: #{color('secondary')};
	--theme-card-button-text: #{color('ink')};
	--theme-card-heading: #{color('primary-darker')};
	--theme-card-filled-text: #{color('white')};
	--theme-card-filled-accent: #{color('secondary')};
}

.theme--red {
	--theme-hero-bg: #{$ne-color-red};
	--theme-hero-primary: #{$ne-color-red};
	--theme-hero-secondary: #{$ne-color-red};
	--theme-footer: #{$ne-color-red};
	--theme-icons: #{color('secondary')};
	--theme-section-bg: #{$ne-color-darkest-red};
	--theme-section-bg-light: #{$ne-color-light-red};
	--theme-icon-btn-grid: #{$ne-color-red};
	--theme-icon-btn-grid-text: #{color('white')};
	--theme-icon-btn-grid-hover: #{$ne-color-light-red};
	--theme-card-accent: #{$ne-color-darkest-red};
	--theme-card-button-text: #{color('white')};
	--theme-card-heading: #{$ne-color-darkest-red};
	--theme-card-filled-text: #{color('white')};
	--theme-card-filled-accent: #{color('white')};
}

.theme--green {
	--theme-hero-bg: #{color('accent-warm')};
	--theme-hero-primary: #{color('accent-warm')};
	--theme-hero-secondary: #{color('accent-warm')};
	--theme-footer: #{color('accent-warm')};
	--theme-icons: #{$ne-color-red};
	--theme-section-bg: #{color('accent-warm-darker')};
	--theme-section-bg-light: #{color('accent-warm-lighter')};
	--theme-icon-btn-grid: #{color('accent-warm')};
	--theme-icon-btn-grid-text: #{color('ink')};
	--theme-icon-btn-grid-hover: #{color('accent-warm-lighter')};
	--theme-card-accent: #{color('accent-warm-darker')};
	--theme-card-button-text: #{color('white')};
	--theme-card-heading: #{color('accent-warm-darker')};
	--theme-card-filled-text: #{color('white')};
	--theme-card-filled-accent: #{color('white')};
}
